## IntelliJ : https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
## Maven : https://github.com/github/gitignore/blob/master/Maven.gitignore

# User-specific stuff:
.idea/dictionaries
.idea/libraries
.idea/workspace.xml
.idea/vcs.xml

# Sensitive or high-churn files:
.idea/uiDesigner.xml

# Maven:
target/

## Plugin-specific files:
